/* reset */
* {
    margin: 0;
    padding: 0;

    /* list style */
    list-style: none;
    
    line-height: 1.5;
    font-size: 16px;
    text-decoration: none;
    color: #333333;

    box-sizing: border-box;
    /* 웹디자인기능사 시험용 기본 세팅 */
}

.wrap {
    width: 1200px;
    background-color: beige;
}
#header {
    background: brown;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo a {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
}
#gnb .depth1 {
    display: flex;
}
#gnb .depth1 > li > a {
    display: flex;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    height: 100px;
}
#gnb .depth2 {
    display: none;
    text-align: center;
}
#gnb .depth1:hover .depth2 {
    display: block;
}


/*  슬라이드 */
.slide {
    width: 100%;
    height: 300px;
    
}
.slide ul {
    display: flex;
    object-fit: cover;  
}
.slide ul a {
    display: block;
}
.slide li a img {
    display: block;

}

.main {
    width: 100%;
    height: 200px;
}