/* 전역변수 설정 */
:root {
    --default:#222328;
    --primary:#e30613;
    --white:#fff;
    --black:#000;
    --widthWrap:1200px;
    /* 최소높이 */
    --minHeight:100vh;
    /* --minHeight:calc(100vh - var(--hdHeight) - var(--ftHeight)-var(slideHeight); */

    --hdHeigt:100px;
    --ftHeight:100px;
    --slideHeight:300px;

    /* 스와이퍼 관련 변수 */
    --swiper-theme-color: #1eff00;
}

/* reset */

* {
    margin: 0;
    padding: 0;

    /* list style */
    list-style: none;
    
    line-height: 1.5;
    font-size: 16px; /*기준폰트*/
    text-decoration: none;
    color: var(--default);

    box-sizing: border-box;
    /* 웹디자인기능사 시험용 기본 세팅 */
}
/* 공통 */
.blind { /* 숨김텍스트 */
    position: absolute;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}
/* ----------------------------------------------------------------- */
/* 본문 */
.wrap {
    /* background-color: antiquewhite; */
    max-width: var(--widthWrap);
    margin: auto;
}

/* wrap 미디어쿼리 */
/* 태블릿버전 */
@media screen and (max-width:980px) {
    .wrap {
        padding: 0 30px;
    }
}
/* 모바일버전 */
@media screen and (max-width:430px) {
    .wrap {
        padding: 0 15px;
    }
}

#header {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    
}
#logo a {
    display: flex;
    font-size: 1.25rem;
    width: 200px;
    height: 40px;
    align-items: center;
}
.blind {
    text-indent: -9999px;
}

#gnb .depth1 {
    display: flex;

}


#gnb .depth1 > li > a {
    display: flex;
    height: 100px;
    padding: 0 30px;
    align-items: center;
    /* border: 1px solid black; */
    width: 100%;
    padding: 0 50px;
    white-space: nowrap;
}
#gnb .depth1 > li {
    position: relative;
}

#gnb .depth1 li:hover {
    background: pink;
}
#gnb .depth2 li:hover a {
    color: pink;
    background: white;
    font-size: 20px;
    font-weight: 600;
}

/* gnb hover기능 */
/* #gnb .depth1:hover .depth2 -> 마우스 오버시 전체 메뉴   */
/* #gnb .depth1 li:hover .depth2 { -> 마우스 오버시 개별 메뉴 */
    /* display: block; */
    /* opacity: 1;
    visibility: visible; */

    /* visibility: visible; */
    /* opacity: 1; */
    /* padding: 5px 0; */
    /* overflow: visible; */
    /* max-height: 300px; */
    /* height: auto; */
/* } */

#gnb .depth2 {
    /* 단, 실무에선 오퍼시티, 비지빌리티를 잘 쓰진 않음
    opacity: 0;
    visibility: hidden; */
    /* 오퍼시티0을 줬을 때 검사 해보면 화면에 존재가 남아있음,
    그래서 visibility:hidden;을 넣어줌 */

    /* 실무에서 트랜지션 사용 하는법 */
    /* max-height: 0; */
    /* height: 0; */
    /* overflow: hidden; */
    /* padding: 0; */
    /* opacity: 0; */
    /* visibility: hidden; */
    
    display: none;
    /* transition: all 0.9s; */

    background: white;


    z-index: 1000;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;

    text-align: center;
    
}
#gnb .depth2 a {
    display: block;
    padding: 3px 0;

}

/* 헤더 미디어쿼리 */
/* 태블릿버전 */
@media screen and (max-width:980px) {
    #header {
        /* background-color: aquamarine; */
        flex-direction: column;
        height: auto;
    }
    #logo a {
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 20px 0px 10px;
    }
    #gnb .depth1 > li > a {
        height: 50px;
    }   
    #gnb .depth2 {
        display: none;
        background: yellow;
        z-index: 1000;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
    
        text-align: center;
        padding: 5px 0;
    }
}
/* 모바일버전 */
@media screen and (max-width:430px) {
    #gnb {
        width: 100%;
        overflow-x: auto;
    }
   
    #gnb .depth1 > li > a {
        padding: 0 20px;
    } 
    
}

/* Swiper */
.swiper {
    height: 300px;
  }
  /* slide 스와이퍼 쓰기 전 */
.slide {
    overflow: hidden;
    position: relative;
    width: 1200px;
    height: 300px;
}
.slide ul {
    display: flex;
    /* overflow: hidden; */
    position: absolute;
    top: 0;
    left: 50px;

    animation: ani-slide 10s linear infinite;
}
@keyframes ani-slide {
    0% {
        left: 0;
    }
    30% {
        left: 0;
    }
    34% {
        left: -100%;
    }
    64% {
        left: -100%;
    }
    67% {
        left: -200%;
    }
    98% {
        left: -200%;
    }
    100% {
        left: 0;
    }
}

.slide ul img {
    /* 이미지 태그도 인라인 요소라 블록 안 하면 a태그 아랫부분이 보임 xptmxm */
    display: block;
}
.slide ul a {
    display: block;
    background: var(--primary);
}




#main {
    height: 200px;
    display: flex;
    justify-content: space-between;
    min-height: var(--minHeight);
}

.tabs,
.sec-bnr,
.sec-goto {
    width: 33.333%;
    flex-grow: 1;
    flex-basis: 0;
    /* 1:true(참) -> 확대를 하라는 이야기, 0 : false(거짓) -> 확대 하지 말란 이야기 */
    padding: 10px 10px;
}
.sec-g .sec-tit {
    font-size: 1.25rem;
    margin-bottom: 10px;
}
#footer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* bbs */

.sec-bbs .list-bbs a {
    display: block;
    padding: 5px 0;
}
.list-bbs {
    flex-direction: column;
    padding-left: 10px;
    
}
.sec-bbs .list-bbs li {
    display: flex;
    align-items: center;
}
.sec-bbs .list-bbs li::before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: var(--black);
    margin-right: 5px;
}
.sec-bnr .sec-tit, .sec-goto .sec-tit {
    text-indent: -9999;
    line-height: 0;
    margin-bottom: 0;
    font-size: 0;
}
.sec-goto .list-goto {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.sec-goto .list-goto li {
    width: 48%;
    height: 48%;
    /* background-color: aliceblue; */
}
.sec-goto .list-goto li a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* gallery */
/* .tabs {
    display: flex;
} */
.tabs {
    display: flex;
    
    position: relative;
}

.tabs .sec-g {
    width: 50%;
}
.tabs .sec-g .sec-tit {
    background: lightgray;
    text-align: center;
    padding: 5px 0 3px;
}

.tabs .tab-cont {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10px;
} 

.list-gallery {
    display: flex;
    justify-content: space-around;
}
.list-gallery li {
    padding: 3px;
}
/* 탭 비활성화 */

/* 탭 활성화 */
.tabs .active .sec-tit {
    background: pink;
    color: #fff;
}
.tabs .active .tab-cont {
    display: flex;
}
.list-bbs {
    flex-direction: column;
    padding-left: 10px;
}


/* 메인 미디어쿼리 */
/* 태블릿버전 */
@media screen and (max-width:980px) {
    #main {
        height: auto;
        flex-wrap: wrap;
        /* gap:0; -> 원래#main에 gap:값;이 있었으면 적기 */
    }
    .sec-g {
        flex-basis: auto;
    }
    .sec-bbs {
        width: 100%;
    }
    .sec-bnr, .sec-goto {
        width: 50%;
        /* 원래 #main에 gap:값;이 있었다면?
            width:calc(100% / 2 - 10px) */
    }
}

/* 모바일버전 */
@media screen and (max-width:430px) {
    .sec-bnr, .sec-goto {
        width: 100%;
    }
    .sec-bnr img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
}

#footer {
    border-top: 1px solid lightgrey;
}

#footer>.logo {
    filter: grayscale(100%);
}


/* 풋터 미디어쿼리 */
/* 태블릿버전 */
@media screen and (max-width:980px) {
    #footer {
        height: auto;

        padding: 20px 0;

        background: #eee;
        text-align: center;

        flex-direction: column;
        /* display:block;을 써도 됨 -> 두가지 방법 */
    }
}

/* ------------------------------------------------------------------------ */

/* dimmed modal */
.dimmed {
    background-color: rgba(0, 0, 0, 0.5);

    z-index: 10000;

    /* 모달창은 스크롤이 생겨도 꽉차있어야 하기 때문에 absolute보단 fixed사용 */
    position: fixed;
    /* width: 100%;
    height: 100%; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;
}
.modal {
    background: var(--white);
    width: 500px;
    height: 300px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    border-radius: 20px;
    border: 0.5px solid #888;

    text-align: center;

    padding: 50px 20px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.modal-hd {
    margin-bottom: 20px;
    font-size: 1.75rem;
    font-weight: bold;
}
.modal-bd {
    font-size: 1rem;
}
.btn-close {
    position: absolute;
    top: -20px;
    right: -20px;
    color: var(--white);
    border-radius: 50%;
    background: var(--default);
    height: 50px;
    width: 50px;
    
    border: none;

    cursor: pointer;
}

.btn-close > i {
    color: var(--white);
    font-size: 2rem;
}

.modal .btn-close::after {
    content: '\f00d';
    display: block;
    font-family: 'Line Awesome Free';
    font-weight: 900;
    font-size: 1.5rem;
}

/* 미디어쿼리
min-width : mobile->pc
max-width : pc->mobile  */