* {
    color: #333333;

    text-decoration: none;
    box-sizing: border-box;
    list-style: none;

    margin: 0;
    padding: 0;

    overflow: hidden;
    width: 100%;
}

/* layout */
.wrap {
    display: flex;
}
#header {
    width: 200px;
    height: calc(100vh - 120px);
}

#main {
    width: calc(100vw - 200px);
    height: calc(100vh - 120px);

    display: flex;
}

.main01 {
    width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 15px;
}
.main02 {
    width: calc(100vw - 600px);
}


#footer {
    width: 100%;
    height: 120px;

    display: flex;
    justify-content: space-between;
}


/* header */
h1 {
    width: 190px;
    height: 45px;

    margin: 30px auto;
}
h1 img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    margin: 0 auto;
}
.gnb-inner {
    width: 100%;

    margin-top: 30px;
    display: flex;
    flex-direction: row;
    padding: 15px;

    
}
.gnb-list .depth1 {
    width: 170px;
    padding: 10px;

    display: block;

    font-size: 16px;

    border-bottom: 1px solid #333;

    position: relative;

}
.gnb-list .depth1:hover {
    font-weight: 900;
    background: #ffe3e3;
}
.gnb-list .depth1:hover .depth2 {
    display: block;
}
.gnb-list .depth1 a {
    display: block;
    width: 100%;
}
.gnb-list .depth1 .depth2 {
    /* display: none; */
    position: absolute;
    top: 0;
    right: -100px;

    width: 100px;
    height: auto;

    z-index: 10000;
    
    background: #ffe3e370;
}

/* Main01 */
/* banner */
.banner {
    display: flex;

    margin-top: 20px;
}
.banner img {
    margin-right: 5px;
    border-radius: 10px;
}
.banner .textCompact {
    padding: 5px;
    margin-top: 10px;
}
.banner .textCompact strong {
    font-size: 15px;
}
.banner .textCompact p {
    font-size: 14px;
    color: #555;

    margin-top: 10px;
}

/* bbs&gallery comm */
.bbs-title, .gallery-title {
    background: #ffe3e3;
    border-radius: 10px;

    font-size: 20px;
    font-weight: 700;

    padding: 5px;
    padding-left: 10px;
}
/* bbs */
.bbs .bbs-list {
    display: flex;
    flex-direction: column;

    padding: 10px;
}
.bbs .bbs-list .depth1 {
    margin-bottom: 10px;
    border-bottom: 1px solid #333333;
}
.bbs .bbs-list .depth1 a {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 13px;
    color: #555;

    padding-bottom: 10px;
}
.bbs .bbs-list .depth1 a:hover {
    font-weight: 700;
}
.bbs .bbs-list .depth1 a p {
    font-size: 16px;
    color: #555;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.bbs .bbs-list .depth1 a em {
    margin-left: auto;
    text-align: right;
}

/* gallery */
.gallery .gallery-list {
    display: flex;
    align-items: center;

    padding: 10px;
    gap: 10px;
}
.gallery .gallery-list .depth1 a {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.gallery .gallery-list .depth1 a img {
    border-radius: 10px;
}
.gallery .gallery-list .depth1 a span {
    font-size: 16px;

    width: 70%;
}
.gallery .gallery-list .depth1 a em {
    display: block;

    width: 30%;
}
/* goto */
.goto .goto-list {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 10px;
}
.goto .goto-list li a {
    display: block;

    width: 100%;
    height: 100%;

}


/* Main02 */
/* slide */
.slide {
    width: calc(100vw - 600px);
    height: 100%;

    position: relative;

}
.slide .slide-list {
    width: 300%;
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;

    transition: left ease-in 30000;

    display: flex;
    flex-direction: row;

}
.slide .slide-list .depth1 {
    width: 100%;
    height: 100%;
}
.slide .slide-list .depth1 img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/* 풋터 */
.logo {
    width: 200px;
    height: 120px;

    padding: 10px;
    padding-top: 30px;
}
h2 {
    width: 190px;
    height: 45px;
}
h2 img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}
.middle {
    width: calc(100vw - 400px);
    height: 120px;
    display: flex;
    flex-direction: column;
}

.footerMenu, .copyright {
    height: 50%;
}
.copyright {
    text-align: center;
}
.footerMenu-list {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
}
.familySite {
    width: 200px;
    text-align: center;

    padding-top: 25px;
}

#modal {
    display: none;

    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: #22222295;
}

.modal-wrap {
    width: 600px;
    height: 400px;

    background: white;

    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    padding: 20px;

    display: flex;
    flex-direction: column;
}
.modal-wrap h3 {
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 40px;
}
.modal-wrap p {
    font-size: 20px;
    font-weight: 300;

    padding: 10px;
}
.btn-close {
    margin-top: auto;
    margin-left: auto;

    width: 80px;
    height: 40px;
    padding: 10px;

    border-radius: 5px;
    border: none;

    background: #818181;
}
.btn-close a:hover {
    color: white;
}