/* reset */
* {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;

    /* 여백 */
    margin: 0;
    padding: 0;

    /* list style */
    list-style: none;
    
    line-height: 1.5;
    font-size: 16px;
    text-decoration: none;
    color: #333333;

    box-sizing: border-box;
    /* 웹디자인기능사 시험용 기본 세팅 */
}
.wrap {

}
.inner {
    /* vh : 뷰포트의 높이 */
    height: calc(100vh - 100px);
    background: aquamarine;
    display: flex;
}
#header {
    background: lightblue;
    width: 200px;
}
.content {
    background: lightgreen;
    /* width: calc(100% - 200px); */
    flex-grow: 1;
}
#footer {
    height: 100px;
    background: burlywood;
}
