/* reset 전체 셋팅값 */
* {
    font-family: 'Noto Sans KR', sans-serif,
    "Malgun Gothic", "맑은 고딕", helvetica, 
    "Apple SD Gothic Neo", sans-serif;

    /* 자간 기본값, -0.4px */
    letter-spacing: -0.4px;

    /* 브라우저 기본 폰트 */
    font-size: 12px;
    font-weight: 500;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
    /* margin 0, padding 0, box-sizing:border-box는 기본 디폴트 값 */
}